<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>New Book</h1>
  <form action="/books" method="POST" autocomplete="off">
    <input type="input" name="title" placeholder="Enter book title">
    <input type="input" name="author" placeholder="Enter author name here">
    <input type="input" name="yearPublished" placeholder="Enter publication year">
    <button type="submit">Save New Book</button>
  </form>
</body>
</html>